[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/jslint.vim"]
	path = bundle/jslint.vim
	url = http://github.com/hallettj/jslint.vim.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:shad/snipmate-snippets.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = git@github.com:shad/vim-markdown-preview.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = http://github.com/groenewege/vim-less
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/akitaonrails/snipmate.vim.git
[submodule "bundle/vim-spicy-openurl"]
	path = bundle/vim-spicy-openurl
	url = git@github.com:shad/vim-spicy-openurl.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-markdown-folding"]
	path = bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "bundle/vim-jst"]
	path = bundle/vim-jst
	url = git@github.com:briancollins/vim-jst.git
